<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Barbox</title>
</head>
<body>
	<%= form_for(:user, :url => session_path(:user)) do |f| %>
	<div>
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label :password %><br/> 
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.submit 'Log in' %>
	</div>
	<% end %>
	<a href="/users/sign_up">Sign Up</a>
</body>
</html>