<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>barbox Boxes</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

	<style>
		body {
			font-family:arial;
			background: url("http://i39.photobucket.com/albums/e175/indy3030/bar_zps8gr2bmz4.jpg") no-repeat center center fixed;
			background-size: cover;
		}
		.opaque-navbar {
	    background-color: rgba(0,0,0,0.5);
	  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
	    height: 60px;
	    border-bottom: 0px;
	    transition: background-color .5s ease 0s;
		}
		.opaque-navbar.opaque {
	    background-color: black;
	    height: 60px;
	    transition: background-color .5s ease 0s;
		}
		.logo {
			font-family: 'Comfortaa', cursive;
			font-size: 30px;
		}
		ul.dropdown-menu {
		    background-color: black;
		}
		.item {
			width:300px;
			height:364px;				
			/* required to hide the image after resized */
			overflow:hidden;
			margin-left: 30px;
			/* for child absolute position */
			position:relative;
			
			/* display div in line */
			float:left;
		}
		.item .caption {
			width:300px;
			height:356px;
			margin:5px 5px 5px 0;	
			border-width: 0px;
			border-radius: 15px;
			background:#000;
			color:#fff;
			font-weight:bold;			
			/* fix it at the bottom */
			position:absolute;
			left:0;
			/* hide it by default */
			display:none;
			/* opacity setting */
			filter:alpha(opacity=80);    /* ie  */
			-moz-opacity:0.8;    /* old mozilla browser like netscape  */
			-khtml-opacity: 0.8;    /* for really really old safari */  
			opacity: 0.8;    /* css standard, currently it works in most modern browsers like firefox,  */
		}
		.item .caption h4 {
			text-decoration:none;
			color:#0cc7dd;
			font-size:16px;	
			
			/* add spacing and make the whole row clickable*/
			padding:5px;
			display:block;
		}
		.item .caption p {
			padding:10px;	
			margin-top:100px;
			font-size:12px;
			color: lightgrey;
		}
		.descriptions {
			font-size: 15px;
		}
		.nameprice {
			color: lightgrey;
		}
		.purchbtns {
			margin-top: 5px;
		}
		img {
			border:4px solid #222;
			border-radius: 15px;	
			margin:5px 5px 5px 0;			
			/* allow javascript moves the img position*/
			position:absolute;
		}
		.clear {
			clear:both;	
		}
	</style>
</head>
<body>
	<header>
		<div class="navbar navbar-default navbar-fixed-top opaque-navbar">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand logo">barbox</a>
				</div>
				<div class="collapse navbar-collapse" id="example">
					<ul class="nav navbar-nav">
						<li><a href="#">How Does Barbox Work?</a></li>
						<li><a href="#">Who We Are</a></li>
						<li><a href="#">Reviews</a></li>
						<li><a href="#">Legal Stuff</a></li>
					</ul>
				</div>
		</div>
	</header>
	<div class="wrapper" style="padding-top:85px;">
		<div class="container">
			<div class="row-fluid">
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="row">
						<div class="item">
							<a href="#"><img src="<%= @oldfashion.image %>" alt="Whiskey Smash" title="" width="300" height="356"/></a>
							<div class="caption text-center">
								<p><%= @oldfashion.description %><br>
									<br>
								Makes <%= @oldfashion.drink_count %> drinks</p>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="/orders/<%= @oldfashion.id %>" class="btn btn-default purchbtns">order now</a><br>
						<h4 class="nameprice"><%= @oldfashion.name %> $<%= @oldfashion.price %>0</h4>
					</div>
				</div>				
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="row">
						<div class="item">
							<a href="#"><img src="<%= @greyhound.image %>" alt="Rosemary Greyhound" title="" width="300" height="356"/></a>
							<div class="caption text-center">
								<p><%= @greyhound.description %><br>
									<br>
								Makes <%= @greyhound.drink_count %> drinks</p>
							</div>
						</div>
					</div>
					<div class="text-center">
						<a href="/orders/<%= @greyhound.id %>" class="btn btn-default purchbtns">order now</a><br>
						<h4 class="nameprice"><%= @greyhound.name %> $<%= @greyhound.price %>0</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
					<div class="row">
						<div class="item">
							<a href="#"><img src="<%= @julep.image %>" alt="Noche Sombrero" title="" width="300" height="356"/></a>
							<div class="caption text-center">
								<p><%= @julep.description %><br>
									<br>
								Makes <%= @julep.drink_count %> drinks</p>
							</div>
						</div>	
					</div>
					<div class="text-center">
						<a href="/orders/<%= @julep.id %>" class="btn btn-default purchbtns">order now</a><br>
						<h4 class="nameprice"><%= @julep.name %> $<%= @julep.price %>0</h4>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div style="color:lightgrey;"><%= @message %> </div>
			</div>
		</div>
	</div>
	<script>
		$(document).ready(function() {
			//move the image in pixel
			var move = -15;

			$('.item').toggle(function() {
				//Display the caption
				$(this).find('div.caption').stop(false,true).fadeIn(200);
			},
			function() {
				//Hide the caption
				$(this).find('div.caption').stop(false,true).fadeOut(200);
			});
		});
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</body>
</html>