<!DOCTYPE html>
<html lang="en">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<meta charset="UTF-8">
	<title>BarBox</title>
</head>
<body>
	<div class="container text-center" style="padding-top:50px">
		<div class="col-md-6 col-md-offset-3">
			<div class="well">
				<h4>Hi <%= @user.first_name %>, please enter the address you would like the <%= @box.name %> box to be delievered to:</h4>

				<%= form_for :shipping_address ,url: "/charges/new", method: "POST" do |f|%>
				<div>
					<%= f.label :address1 %></br>
					<%= f.text_field :address1 %>
				</div>
				<div>
					<%= f.label :address2 %></br>
					<%= f.text_field :address2 %>
				</div>
				<div>
					<%= f.label :city %></br>
					<%= f.text_field :city %>
				</div>
				<div>
					<%= f.label :state %></br>
					<%= f.text_field :state %>
				</div>
				<div>
					<%= f.label :zip %></br>
					<%= f.number_field :zip %>
				</div>
				<div>
					<%= f.label :phone %></br>
					<%= f.telephone_field :phone%>
				</div>
				<div>
					<%= f.label :date %></br>
					<%= f.text_field :date , :required => true%>
				</div>
				<%= f.hidden_field :box_id, :value => @box.id %>
				<div>
					<%= f.label :time %></br>
					<%= f.select :time, @delivery_times %>
				</div>

				<%= f.submit "Proceeded to Order Summary and Payment" %>
				<% end %>

			</div>
		</div>
	</div>
	<script>
	$(function(){
		var is_greater = false;
		var is_less = true;

		$('#shipping_address_date').datepicker({
			minDate: 0,
			onSelect: function(date) {
				//date in mm/dd/yyyy
				selectDate = date.split("/");
				dateCompare = new Date(selectDate[2],selectDate[0]-1,selectDate[1])
				today = new Date()

				todayCompare = new Date(today.getFullYear(), today.getMonth(), today.getDay());
				console.log(date);
				maxOptions = 14;
				currentNumOfOptions = $('option').length;
				$timeList = $("#shipping_address_time");

				if(dateCompare.getTime() > today.getTime() && !is_greater && maxOptions !== currentNumOfOptions){
					console.log("selected is greater");

					missingNumOfOptions = maxOptions - currentNumOfOptions;

					for(var i = missingNumOfOptions; i > 0; i--){
						lowerTime = (i % 12) - 1;
						upperTime = i % 12;
						if(lowerTime === 0){
							lowerTime = 12;
						}
						if(upperTime === 0){
							upperTime = 12;
						}
						if(upperTime >= 12){
							meridiem = "AM"
						} else {
							meridiem = "PM"
						}
						timeValue = ""+lowerTime+" - "+upperTime+""+meridiem;
						$timeList.prepend($('<option>', {value: timeValue, text: timeValue}));
					}

					is_greater = true;
					is_less = false;
				}

				if(dateCompare.getTime() < today.getTime() && !is_less){
					hour = today.getHours();

					if(hour > 10){
						numOfOptionsToRemove = hour - 10;

						for(var i = 0; i < numOfOptionsToRemove; i++){
							$timeList.children("option:first").remove();
						}

						is_greater = false;
						is_less = true;
					}
				}
			}
		});
	});		
	</script>
</body>
</html>