<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BarBox Payment Info</title>
</head>
<body>
	<div>Billing Address</div>
	<%= form_for :billing_address ,url: "/order/payment", method: "Post" do |f|%>
	<%= f.label :address1 %>
	<%= f.text_field :address1 %>

	<%= f.label :address2 %>
	<%= f.text_field :address2 %>

	<%= f.label :city %>
	<%= f.text_field :city %>

	<%= f.label :state %>
	<%= f.text_field :state %>

	<%= f.label :zip %>
	<%= f.number_field :zip %>

	<%= f.label :phone %>
	<%= f.telephone_field :phone%>

	<div>Payment Information</div>


	<%= f.submit "Next" %>
	<% end %>
</body>
</html>