<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thank You!</title>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<style>
		body {
			font-family:arial;
			background: url("http://i39.photobucket.com/albums/e175/indy3030/bar_zps8gr2bmz4.jpg") no-repeat center center fixed;
			background-size: cover;
		}
		.logo {
			font-family: 'Comfortaa', cursive;
			font-size: 42px;
		}
		h5 {
			font-family: helvetica;
		}
	</style>
</head>
<body>
	
<div class="container">
	<div class="jumbotron" style="margin:60px 20px 20px 20px; border-radius:0px;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
					<h3 class="logo">barbox</h3>
					<h5 style="font-weight:bold;">Thank you for your order!</h5>
					<h5>Please keep this order confirmation code for your records: <strong><%= @stripe %></strong></h5>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12">
					<hr>
					<h5>
						Delivery date: <%= @date %><br>
						<br>

						Delivery time window: <%= @time %><br>
						<br>
						Address:<br>
						<%= @address1.split.map(&:capitalize)*' ' %><br>
						<% if @address2 != "" %>
							<%= @address2.split.map(&:capitalize)*' ' %>
							<br>
						<% end %>
						<%= @city.split.map(&:capitalize)*' ' %>, 
						<% if @state.length == 2 %>
							<%= @state.upcase %>
						<% else %>
							<%= @state.split.map(&:capitalize)*' ' %>
						<% end %>
							<br>
						<%= @zip %><br>
						<br>
						Phone number: <%= @phone %><br> 
					</h5>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>

