<h2>Thanks, you paid <strong>$60.00</strong>!</h2>

Date is <%= @date %><br>
time is <%= @time %><br>
address1 is <%= @address1 %><br>
address2 is <%= @address2 %><br>
city is <%= @city %><br>
state is <%= @state %><br>
zip is <%= @zip %><br>
phone is <%= @phone %><br>
token is <%= @stripe %><br>

